
// Tutorial config file 
// Use for debug, bookeeping
// options: none, lane0, lane1, etc., controller, decoder, binary, uop_queue, inter_mover, intra_mover
show = none
// options: none, lane0, lane1, etc., controller, decoder, binary, uop_queue, inter_mover, intra_mover
record_stat = inter_mover, controller
// options: true, false
record_data = true
// input data source
data_source = none
// options: true, false
disable_backend = false

// Use for initialization
// number of cycles before Node retire
cycle_max_idle = 20
// number of entries the instruction storage can hold
entry_bin_size = 3000
// number of cycles it takes the fetcher to fetch an instruction from instruction storage
cycle_bin_out_lat = 1
// number of cycles it takes for an instruction to be loaded into the instruction storage
cycle_bin_in_lat = 1

// Node configuration
//number of lanes
num_lane = 2
// number of reg. files per lane
num_regfile = 2
// number of bits per register
granularity = 8

// PUM-Enabling Technology
// options:
// - ReRAM: IDEAL, NMP, MAGIC, OSCAR
// - SRAM: IDEAL, NMP
// - DRAM: AMBIT_ROWCLONE
PUMtech map_style = MAGIC
// Number of rows and columns in a memory array
num_col = 64
num_row = 2
// Racer-Specific: Number of intermediate values or mask columns in a memory array
num_imm = 17
num_mask = 0
// Racer-Specific: number of entry per uop queue
entry_queue_size = 12

//for all register, set the bits to 0 starting from random_bit_pos
random_bit_pos = 3

// type of data mover:
// options: peer to peer (P2P), serial (SERIAL)
cycle_mover_type = P2P
// latency to perform MEM_COPY
cycle_mover_COPY_lat = 16
// latency to establish connection between lanes before data transfer
cycle_mover_SETUP_lat = 1

// MPI related config
#Change these to see effects of generating MPI overheads
cycle_mpi_send_payload_generation_lat = 8
cycle_mpi_interupt_payload_generation_lat = 16
cycle_mpi_send_store_back_lat = 8
cycle_mpi_interupt_store_back_lat = 32
cycle_ping_skip_duration = 0
cycle_interupt_serve_wait = 1000
bit_payload_size = 128
bit_PING_size = 10
bit_ACK_size = 10
bit_DONE_size = 10


// PPA configurations from real chip extraction
process_name = Intel_16nm_SCIMBA
vector_length = 128
pJ_per_vec_primitive = 110
cm2_total_area = 0.0025
MHz_frequency = 133.33
watt_thermal_limit = 80

//Device Level Parameters
device_model_sim = false
memorisation = false
verilog_filename = RRAM_VTEAM
volt_MAGIC = -1.5
volt_SET = -1.7
volt_RESET = 0.4
volt_ISO_BL = -0.3
volt_ISO_WL = -0.3
second_cycle_time = 0.001
second_step_size = 10e-6
ohm_R = 2.925
farad_C = 1e-15
state_threshold = 0.5

// Playback configurations
entry_playback_buffer_size = 1024
num_max_active_regfile_per_lane = 1

// Hyper-threading configurations
num_smt_thread = 1
