// Use this config file for instruction peak throughput and functional verification

// Runtime setting
cycle_max_idle = 1000
disable_backend = false

//Nodeconfig
num_lane = 1
num_regfile = 4
granularity = 8

// PUM-Enabling Technology
PUMtech map_style = OSCAR

// Binary Storage config
entry_bin_size = 30000
cycle_bin_out_lat = 1
cycle_bin_in_lat = 1

// Uop Controller config
entry_queue_size = 32

// Bit-Pipeline config
num_col = 64
num_row = 64
num_imm = 64
num_mask = 0

//Random Initialization
random_bit_pos = 3

// Data mover configurations (cycles)
mover_type = P2P
cycle_mover_COPY_lat = 16
cycle_mover_SETUP_lat = 1

// Playback configurations
entry_playback_buffer_size = 1024
num_max_active_regfile_per_lane = 1

// Hyper-threading configurations
num_smt_thread = 1

// PPA configurations
watt_thermal_limit = 80
process_name = RACER_4096
vector_length = 64
pJ_per_vec_primitive = 8
cm2_total_area = 4
MHz_frequency = 333.33

//Device Level Parameters
device_model_sim = false
memorisation = false
verilog_filename = RRAM_VTEAM
volt_MAGIC = -1.5
volt_SET = -1.7
volt_RESET = 0.4
volt_ISO_BL = -0.3
volt_ISO_WL = -0.3
second_cycle_time = 0.001
second_step_size = 10e-6
ohm_R = 2.925
farad_C = 1e-15
state_threshold = 0.5
