COMPUTE 0 0
CMPLT 0 1
CMPLT 0 1
CMPLT 0 1
CMPLT 0 1
CMPLT 0 1
CMPLT 0 1
CMPLT 0 1
CMPLT 0 1
CMPLT 0 1
CMPLT 0 1
CMPLT 0 1
CMPLT 0 1
CMPLT 0 1
CMPLT 0 1
CMPLT 0 1
CMPLT 0 1
CMPLT 0 1
CMPLT 0 1
CMPLT 0 1
CMPLT 0 1
CMPLT 0 1
CMPLT 0 1
CMPLT 0 1
CMPLT 0 1
CMPLT 0 1
CMPLT 0 1
CMPLT 0 1
CMPLT 0 1
CMPLT 0 1
CMPLT 0 1
CMPLT 0 1
CMPLT 0 1
CMPLT 0 1
CMPLT 0 1
CMPLT 0 1
CMPLT 0 1
CMPLT 0 1
CMPLT 0 1
CMPLT 0 1
CMPLT 0 1
CMPLT 0 1
CMPLT 0 1
CMPLT 0 1
CMPLT 0 1
CMPLT 0 1
CMPLT 0 1
CMPLT 0 1
CMPLT 0 1
CMPLT 0 1
CMPLT 0 1
CMPLT 0 1
CMPLT 0 1
CMPLT 0 1
CMPLT 0 1
CMPLT 0 1
CMPLT 0 1
CMPLT 0 1
CMPLT 0 1
CMPLT 0 1
CMPLT 0 1
CMPLT 0 1
CMPLT 0 1
CMPLT 0 1
CMPLT 0 1
CMPLT 0 1
CMPLT 0 1
CMPLT 0 1
CMPLT 0 1
CMPLT 0 1
CMPLT 0 1
CMPLT 0 1
CMPLT 0 1
CMPLT 0 1
CMPLT 0 1
CMPLT 0 1
CMPLT 0 1
CMPLT 0 1
CMPLT 0 1
CMPLT 0 1
CMPLT 0 1
CMPLT 0 1
CMPLT 0 1
CMPLT 0 1
CMPLT 0 1
CMPLT 0 1
CMPLT 0 1
CMPLT 0 1
CMPLT 0 1
CMPLT 0 1
CMPLT 0 1
CMPLT 0 1
CMPLT 0 1
CMPLT 0 1
CMPLT 0 1
CMPLT 0 1
CMPLT 0 1
CMPLT 0 1
CMPLT 0 1
CMPLT 0 1
CMPLT 0 1
COMPUTE_DONE
EOF
