COMPUTE 0 0
FUZZY 0 1 2
FUZZY 0 1 2
FUZZY 0 1 2
FUZZY 0 1 2
FUZZY 0 1 2
FUZZY 0 1 2
FUZZY 0 1 2
FUZZY 0 1 2
FUZZY 0 1 2
FUZZY 0 1 2
FUZZY 0 1 2
FUZZY 0 1 2
FUZZY 0 1 2
FUZZY 0 1 2
FUZZY 0 1 2
FUZZY 0 1 2
FUZZY 0 1 2
FUZZY 0 1 2
FUZZY 0 1 2
FUZZY 0 1 2
FUZZY 0 1 2
FUZZY 0 1 2
FUZZY 0 1 2
FUZZY 0 1 2
FUZZY 0 1 2
FUZZY 0 1 2
FUZZY 0 1 2
FUZZY 0 1 2
FUZZY 0 1 2
FUZZY 0 1 2
FUZZY 0 1 2
FUZZY 0 1 2
FUZZY 0 1 2
FUZZY 0 1 2
FUZZY 0 1 2
FUZZY 0 1 2
FUZZY 0 1 2
FUZZY 0 1 2
FUZZY 0 1 2
FUZZY 0 1 2
FUZZY 0 1 2
FUZZY 0 1 2
FUZZY 0 1 2
FUZZY 0 1 2
FUZZY 0 1 2
FUZZY 0 1 2
FUZZY 0 1 2
FUZZY 0 1 2
FUZZY 0 1 2
FUZZY 0 1 2
FUZZY 0 1 2
FUZZY 0 1 2
FUZZY 0 1 2
FUZZY 0 1 2
FUZZY 0 1 2
FUZZY 0 1 2
FUZZY 0 1 2
FUZZY 0 1 2
FUZZY 0 1 2
FUZZY 0 1 2
FUZZY 0 1 2
FUZZY 0 1 2
FUZZY 0 1 2
FUZZY 0 1 2
FUZZY 0 1 2
FUZZY 0 1 2
FUZZY 0 1 2
FUZZY 0 1 2
FUZZY 0 1 2
FUZZY 0 1 2
FUZZY 0 1 2
FUZZY 0 1 2
FUZZY 0 1 2
FUZZY 0 1 2
FUZZY 0 1 2
FUZZY 0 1 2
FUZZY 0 1 2
FUZZY 0 1 2
FUZZY 0 1 2
FUZZY 0 1 2
FUZZY 0 1 2
FUZZY 0 1 2
FUZZY 0 1 2
FUZZY 0 1 2
FUZZY 0 1 2
FUZZY 0 1 2
FUZZY 0 1 2
FUZZY 0 1 2
FUZZY 0 1 2
FUZZY 0 1 2
FUZZY 0 1 2
FUZZY 0 1 2
FUZZY 0 1 2
FUZZY 0 1 2
FUZZY 0 1 2
FUZZY 0 1 2
FUZZY 0 1 2
FUZZY 0 1 2
FUZZY 0 1 2
FUZZY 0 1 2
COMPUTE_DONE
EOF
