COMPUTE 0 0
LSHIFT 0 1
LSHIFT 0 1
LSHIFT 0 1
LSHIFT 0 1
LSHIFT 0 1
LSHIFT 0 1
LSHIFT 0 1
LSHIFT 0 1
LSHIFT 0 1
LSHIFT 0 1
LSHIFT 0 1
LSHIFT 0 1
LSHIFT 0 1
LSHIFT 0 1
LSHIFT 0 1
LSHIFT 0 1
LSHIFT 0 1
LSHIFT 0 1
LSHIFT 0 1
LSHIFT 0 1
LSHIFT 0 1
LSHIFT 0 1
LSHIFT 0 1
LSHIFT 0 1
LSHIFT 0 1
LSHIFT 0 1
LSHIFT 0 1
LSHIFT 0 1
LSHIFT 0 1
LSHIFT 0 1
LSHIFT 0 1
LSHIFT 0 1
LSHIFT 0 1
LSHIFT 0 1
LSHIFT 0 1
LSHIFT 0 1
LSHIFT 0 1
LSHIFT 0 1
LSHIFT 0 1
LSHIFT 0 1
LSHIFT 0 1
LSHIFT 0 1
LSHIFT 0 1
LSHIFT 0 1
LSHIFT 0 1
LSHIFT 0 1
LSHIFT 0 1
LSHIFT 0 1
LSHIFT 0 1
LSHIFT 0 1
LSHIFT 0 1
LSHIFT 0 1
LSHIFT 0 1
LSHIFT 0 1
LSHIFT 0 1
LSHIFT 0 1
LSHIFT 0 1
LSHIFT 0 1
LSHIFT 0 1
LSHIFT 0 1
LSHIFT 0 1
LSHIFT 0 1
LSHIFT 0 1
LSHIFT 0 1
LSHIFT 0 1
LSHIFT 0 1
LSHIFT 0 1
LSHIFT 0 1
LSHIFT 0 1
LSHIFT 0 1
LSHIFT 0 1
LSHIFT 0 1
LSHIFT 0 1
LSHIFT 0 1
LSHIFT 0 1
LSHIFT 0 1
LSHIFT 0 1
LSHIFT 0 1
LSHIFT 0 1
LSHIFT 0 1
LSHIFT 0 1
LSHIFT 0 1
LSHIFT 0 1
LSHIFT 0 1
LSHIFT 0 1
LSHIFT 0 1
LSHIFT 0 1
LSHIFT 0 1
LSHIFT 0 1
LSHIFT 0 1
LSHIFT 0 1
LSHIFT 0 1
LSHIFT 0 1
LSHIFT 0 1
LSHIFT 0 1
LSHIFT 0 1
LSHIFT 0 1
LSHIFT 0 1
LSHIFT 0 1
LSHIFT 0 1
COMPUTE_DONE
FLUSH
EOF
