// Display settings
// options: none, lane0, lane1, etc., controller, decoder, binary, uop_queue, inter_mover, intra_mover
show = none
// options: none, lane0, lane1, etc., controller, decoder, binary, uop_queue, inter_mover, intra_mover
record_stat = inter_mover, controller
// options: true, false
record_data = true
// input data source
data_source = none
// options: true, false
disable_backend = false

binary = ./CMPEQ.rc

// number of cycles before MPU retire
cycle_max_idle = 10

// MPU config
num_lane = 1
num_regfile = 1
granularity = 8

// PUM-Enabling Technology
PUMtech map_style = MAGIC

// Binary Storage config

entry_bin_size = 3000

cycle_bin_out_lat = 1
cycle_bin_in_lat = 1

// Uop Controller config
entry_queue_size = 50

// Bit-Pipeline config

num_col = 64
num_row = 8
num_imm = 62
num_mask = 0

//Random Initialization (non needed, use human readable files)
random_bit_pos = 8

// Data mover configurations (cycles)
cycle_mover_type = P2P

cycle_mover_COPY_lat = 16
cycle_mover_SETUP_lat = 1

// Playback configurations

entry_playback_buffer_size = 1000
num_max_active_regfile_per_lane = 1

// Hyper-threading configuration
num_smt_thread = 1

// MPI related config
cycle_mpi_send_payload_generation_lat = 32
cycle_mpi_interupt_payload_generation_lat = 16
cycle_mpi_send_store_back_lat = 32
cycle_mpi_interupt_store_back_lat = 32
cycle_ping_skip_duration = 10
cycle_interupt_serve_wait = 1000
bit_payload_size = 128
bit_PING_size = 10
bit_ACK_size = 10
bit_DONE_size = 10


// PPA configurations
process_name = Intel_16nm_SCIMBA
vector_length = 128
pJ_per_vec_primitive = 110
cm2_total_area = 0.0025
MHz_frequency = 133.33
watt_thermal_limit = 80


//Device Level Parameters
device_model_sim = true
memorisation = true
verilog_filename = ReRAM_VTEAM
volt_MAGIC = -1.4
volt_SET = -1.7
volt_RESET = 0.4
volt_ISO_BL = -0.28
volt_ISO_WL = -0.3
second_cycle_time = 0.0004
second_step_size = 50e-6
ohm_R = 2.925
farad_C = 1e-15
state_threshold = 0.5
